<div class="page">
	<h2>1972 : Une révolution naït</h2>
	<p>
		Il y a plus de 50 ans, dans les laboratoires d'Atari, naissait Pong.
		Deux rectangles, une balle pixelisée, et une simplicité révolutionnaire qui allait changer
		l'histoire du divertissement pour toujours.
	</p>
	<div class="welcome-header">
		<img src="../img/pong_intro.png" alt="Pong header" class="welcome-image">
	</div>
	<h2>2025 : L'héritage continue</h2>
	<p style="margin-bottom: 3rem;">
		Aujourd'hui, SuperPong garde l'âme du jeu original :
		anticipation, réflexes, stratégie. Mais maintenant, vous pouvez défier vos amis à distance,
		gravir les échelons des tournois et prouver que vous avez ce qu'il faut pour devenir le champion ultime.
	</p>
	<div class="play-button-container">
		<a href="/game" data-route class="btn white-btn">Jouer</a>
	</div>
</div>
