<div class="login-container">

	<!-- Côté gauche : Image -->
	<div class="login-image">
		<img src="../img/tournament_5.png" alt="Tournament" />
	</div>

	<!-- Côté droit : Formulaire -->
	<div class="login-form">

		<div class="login-form-content">

			<h2>Configuration</h2>
			<p class="subtitle">Défiez vos amis, entre 2 et 8 joueurs</p>

			<form id="add-player-form">

				<!-- Joueur IA Toggle + Dropdown -->
				<div class="form-group">

					<label>Joueur IA</label>
					<div class="tournament-ai-row">

						<div class="control-group">
							<label class="toggle-switch">
								<input type="checkbox" id="ai-toggle">
								<span class="toggle-slider"></span>
							</label>
						</div>

						<div class="control-group">
							<select id="ai-difficulty-select" class="dropdown" disabled>
								<option value="" disabled selected>Difficulté</option>
								<option value="easy">Facile</option>
								<option value="medium">Moyen</option>
								<option value="hard">Difficile</option>
							</select>
						</div>

					</div>
				</div>

				<!-- Pseudo -->
				<div class="form-group">
					<label for="player-alias">Votre pseudo *</label>
					<input
						type="text"
						id="player-alias"
						name="player-alias"
						placeholder="Entrez votre pseudo"
						maxlength="20"
						autocomplete="off"
						required
					/>
				</div>

				<!-- Bouton Ajouter -->
				<button type="submit" class="btn-login">Ajouter joueur</button>

			</form>

			<!-- Liste des joueurs -->
			<div class="tournament-players-list">

				<p id="player-count-info" class="player-count-text">
					<span id="player-count-number"></span> joueur(s)
				</p>

				<div id="players-list-content">
					<!-- Sera injecté dynamiquement -->
				</div>


			</div>

			<!-- Bouton Commencer -->
			<div id="tournament-actions-container">
				<!-- Sera injecté dynamiquement -->
			</div>

			<!-- Bouton Réinitialiser -->
			 <p id="reset-tournament" class="signup-link">Réinitialiser le tournoi</p>

			<!-- <button id="reset-tournament" class="btn-oauth btn-reset">Réinitialiser le tournoi</button> -->



		</div>
	</div>
</div>
