<div class="page">
    <h2>Le tournois des champions</h2>
    <p>
        Affrontez vos amis en 5 points gagnants et devenez le meilleur joueur de l'école 42 !
    </p>
    <div class="next-match">
        <!-- <h4>🏓 Next Match:</h4>
        <div class="match-card">
            <div class="player">{{PLAYER1_ALIAS}}</div>
            <div class="vs">VS</div>
            <div class="player">{{PLAYER2_ALIAS}}</div>
        </div> -->
        <button id="start-match" data-match-id="{{MATCH_ID}}" class="btn btn-primary">
            🎮 Start Match
        </button>
    </div>
    {{BRACKET_CONTENT}}
</div>
